:root {
    --background: #252525;
    --secondary: background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
    --text-white: #FFFFFF;
    --bg-yellow:#FFA400;
    --bg-red:#FC2933;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body{
    background: #131415;
}
header {
    background-color: var(--background); font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#products-pizza{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}



#products-pizza h2{
    color:var(--text-white);
    
}

.pizza-varias{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:15px;
    padding: 40px 0;
    max-width: 1200px;
}

.pizza {
    background: var(--background);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    margin-bottom: 20px;
    

}

.product-caja{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.product-top,
.product-mid,
.product-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.product-top h3{
    font-family:'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color:var(--text-white);
}

.product-mid p{
font-size: 14px;
font-weight: 400;
color:var(--text-white);
opacity: 0.3;
}


.price p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 19px;
background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
-webkit-text-fill-color: transparent;
}

.btn-add{
color: var(--text-white);
background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
border-radius: 10px;
border: none;
padding: 10px 35px;
cursor: pointer;

}

footer{
    color:var(--text-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:40px;
    padding:60px 0;
}

footer a,
footer p{
    color: var(--text-white);
    font-weight: 400;
    font-size: 17px;
}

footer span{
    font-weight: 800;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 20px;
}